In [3]:
import os
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Paragraph, Spacer, Image
from reportlab.lib.styles import getSampleStyleSheet
import base64
import random
from groq import Groq
import plotly.graph_objects as go

In [5]:
client_demographics_df = pd.read_csv('client_demographics.csv')

In [6]:
client_demographics_df.head()

,Client,Age,Income,Family,Occupation,Recent Interactions
0,Warren Miller,45,120000,"Married, 2 kids",Engineer,Met on 2024-07-01 to discuss portfolio adjustm...
1,Sandor Clegane,38,95000,Single,Security Consultant,Phone call on 2024-06-25 to review investment ...
2,Hari Seldon,50,150000,"Married, 1 kid",Professor,Email exchange on 2024-07-10 about market outlook
3,James Holden,34,85000,Single,Pilot,Met on 2024-07-05 to discuss new investment op...
4,Alice Johnson,42,110000,"Married, 3 kids",Doctor,Phone call on 2024-06-30 to discuss quarterly ...