In [3]:
import os
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Paragraph, Spacer, Image
from reportlab.lib.styles import getSampleStyleSheet
import base64
import random
from groq import Groq
import plotly.graph_objects as go

In [15]:
trans = pd.read_csv('client_transactions.csv')
# Filter for 'selected_strategy' equal to 'Private Equity'
filtered_trans = trans[trans['Select_Strategy'] == 'Private Equity']
transactions_df=trans
# Display the filtered DataFrame
print(filtered_trans)

     Date                                               Name Select_Strategy  \
75  44484                          Acme Co. 2023 Term Loan B  Private Equity
76  42136                 XYZ Corp. 2024 Mezzanine Financing  Private Equity
77  42797                  RetailCo Distressed Debt Position  Private Equity
78  44169                   TechCo Recapitalization Facility  Private Equity
79  43507               Alpha Industries Senior Secured Loan  Private Equity
80  45361          Beta Pharmaceuticals Unitranche Financing  Private Equity
81  44762                   Gamma Real Estate Mezzanine Debt  Private Equity
82  42160                  Delta Energy Project Finance Loan  Private Equity
83  43910                Epsilon Healthcare Second Lien Loan  Private Equity
84  42190           Zeta Manufacturing Acquisition Financing  Private Equity
85  44130           Eta Technology Growth Capital Investment  Private Equity
86  43277    Theta Consumer Products Direct Lending Facility  Private Equity
87  42116            Iota Infrastructure Mezzanine Financing  Private Equity
88  44646                Kappa Renewable Energy Project Loan  Private Equity
89  45415  Lambda Media & Entertainment Special Situation...  Private Equity

   Direction  Quantity  Price per Share ($)  Total Value ($) Transaction Type  \
75      Long      4219                 2107          8889433              Buy
76      Long      3009                 3592         10808328              Buy
77      Long      2488                  588          1462944             Sell
78      Long      4554                 3827         17428158             Sell
79      Long      3418                 1568          5359424             Sell
80      Long      3290                 2515          8274350              Buy
81      Long      3454                 4513         15587902              Buy
82      Long      2298                 2699          6202302              Buy
83      Long      3430                 2614          8966020              Buy
84      Long      3746                 4621         17310266              Buy
85      Long      3384                 4325         14635800              Buy
86      Long      4598                 1363          6267074              Buy
87      Long      3949                 2209          8723341              Buy
88      Long      4030                 2301          9273030              Buy
89      Long      4774                  572          2730728              Buy

                                           Commentary
75  Strategic investment in Acme Co. to support gr...
76  Funding XYZ Corp. mezzanine financing to bolst...
77  Selling RetailCo distressed debt position post...
78  TechCo recapitalization facility realized expe...
79  Alpha Industries expansion completed securing ...
80  Beta Pharmaceuticals unitranche financing for ...
81  Gamma Real Estate mezzanine debt to fund new p...
82  Delta Energy project finance loan to support r...
83  Epsilon Healthcare second lien loan for medica...
84  Zeta Manufacturing acquisition financing to en...
85  Eta Technology growth capital investment to dr...
86  Theta Consumer Products direct lending facilit...
87   Iota Infrastructure mezzanine financing for u...
88  Kappa Renewable Energy project loan to support...
89  Kappa Renewable Energy project loan to support...

In [21]:
filtered_transactions = transactions_df[transactions_df['Select_Strategy'] == 'Private Equity']
top_buys = filtered_transactions[filtered_transactions['Transaction Type'] == 'Buy'].nlargest(1, 'Total Value ($)')
top_sells = filtered_transactions[filtered_transactions['Transaction Type'] == 'Sell'].nlargest(1, 'Total Value ($)')
# top_transactions = pd.concat([top_buys, top_sells])
# top_transactions_df = top_transactions[['Name', 'Direction', 'Transaction Type', 'Commentary']]
# top_transactions_df

In [26]:
filtered_transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 75 to 89
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 15 non-null     int64
 1   Name                 15 non-null     object
 2   Select_Strategy      15 non-null     object
 3   Direction            15 non-null     object
 4   Quantity             15 non-null     int64
 5   Price per Share ($)  15 non-null     int64
 6   Total Value ($)      15 non-null     int64
 7   Transaction Type     15 non-null     object
 8   Commentary           15 non-null     object
dtypes: int64(4), object(5)
memory usage: 1.2+ KB

In [31]:
# Assuming transactions_df is correctly loaded and filtered as needed
# Ensure the column types are correct, especially Total Value ($) should be numeric
transactions_df['Total Value ($)'] = pd.to_numeric(transactions_df['Total Value ($)'])

# Check the dtype of 'Total Value ($)'
print(transactions_df['Total Value ($)'].dtype)

# Reset index after filtering if necessary
filtered_transactions = filtered_transactions.reset_index(drop=True)

# Filter top buy transaction
top_buys = filtered_transactions[filtered_transactions['Transaction Type'] == 'Buy'].nlargest(1, 'Total Value ($)')

# Filter top sell transaction
top_sells = filtered_transactions[filtered_transactions['Transaction Type'] == 'Sell'].nlargest(1, 'Total Value ($)')

print("Top Buy Transaction:")
print(top_buys)

print("\nTop Sell Transaction:")
print(top_sells)

int64
Top Buy Transaction:
Empty DataFrame
Columns: [Date, Name, Select_Strategy, Direction, Quantity, Price per Share ($), Total Value ($), Transaction Type, Commentary]
Index: []

Top Sell Transaction:
Empty DataFrame
Columns: [Date, Name, Select_Strategy, Direction, Quantity, Price per Share ($), Total Value ($), Transaction Type, Commentary]
Index: []

In [28]:
top_buys

Empty DataFrame
Columns: [Date, Name, Select_Strategy, Direction, Quantity, Price per Share ($), Total Value ($), Transaction Type, Commentary]
Index: []

In [29]:
top_sells = filtered_transactions[filtered_transactions.iloc[:, 7] == 'Sell'].nlargest(1, columns=filtered_transactions.columns[6])

In [30]:
top_sells

Empty DataFrame
Columns: [Date, Name, Select_Strategy, Direction, Quantity, Price per Share ($), Total Value ($), Transaction Type, Commentary]
Index: []